__pycache__/
.DS_Store
.env
.hypothesis/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv-poetry/
.venv-uv/
.vscode/
*.pyc
apptoken.txt
atr/_version.py
bootstrap/build/
dev/
/docs/
node_modules/
state/
