services:
  atr:
    build:
      context: .
      dockerfile: Dockerfile.alpine
    environment:
      - ALLOW_TESTS=1
      - APP_HOST=atr:8080
      - BIND=0.0.0.0:8080
      - SECRET_KEY=insecure-test-key
      - SSH_HOST=0.0.0.0
      - LDAP_BIND_DN=$LDAP_BIND_DN
      - LDAP_BIND_PASSWORD=$LDAP_BIND_PASSWORD
    networks:
      - atr-network
    volumes:
      - ./state:/opt/atr/state
      - ./atr:/opt/atr/atr
      - ./start-dev.sh:/opt/atr/start-atr.sh
    ports:
      - 8080:8080
    healthcheck:
      test: ["CMD", "curl", "-k", "-f", "https://localhost:8080/"]
      interval: 2s
      timeout: 1s
      retries: 30
      start_period: 10s

networks:
  atr-network:
    driver: bridge
