{% extends "layouts/base.html" %}

{%- block title -%}Committee directory ~ ATR{%- endblock title -%}

{%- block description -%}List of all ASF committees and their assated projects.{%- endblock description -%}

{% block stylesheets %}
    {{ super() }}
    <style>
        .page-committee-title-link:hover {
            cursor: pointer;
        }

        .page-logo {
            max-height: 100%;
            width: auto;
            object-fit: contain;
        }

        .page-logo-container {
            height: 48px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .page-project-subcard {
            min-height: 96px;
            background-color: #f8f9fa;
        }

        .page-project-subcard:hover {
            border-color: gray;
            cursor: pointer;
        }

        .page-project-subcard-categories {
            font-size: 0.8em;
        }

        .page-project-inactive {
            opacity: 0.6;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    <h1>Committee directory</h1>
    <p>Current ASF committees and their projects:</p>

    <div class="mb-3">
        <input type="text"
               id="project-filter"
               aria-label="Project name filter"
               class="form-control d-inline-block w-auto" />
        <button type="button" class="btn btn-primary" id="filter-button">Filter all</button>
        {% if current_user %}
            <button type="button"
                    class="btn btn-secondary ms-2"
                    id="filter-participant-button"
                    aria-pressed="false"
                    data-showing="participant">
                {% if current_user %}
                    Show all committees
                {% else %}
                    Show my committees
                {% endif %}
            </button>
        {% endif %}
    </div>

    <div class="mb-3">
        <p>
            Total count: <span id="committee-count">{{ committees|length }}</span>
        </p>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for committee in committees %}
            {% set is_part = false %}
            {% if current_user and committee %}
                {% if (current_user.uid in committee.committee_members) or
                (current_user.uid in committee.committers) or
                (current_user.uid in committee.release_managers) %}
                {% set is_part = true %}
            {% endif %}
        {% endif %}
        <div class="col">
            <div class="card h-100 shadow-sm page-project-card"
                 data-is-participant="{{ 'true' if is_part else 'false' }}">
                <div class="card-body">
                    <div class="row mb-3 align-items-center">
                        <div class="col">
                            <h3 class="card-title fs-4 mb-0">
                                <a href="{{ as_url(get.committees.view, name=committee.name) }}"
                                   class="text-decoration-none text-dark page-committee-title-link">{{ committee.display_name }}</a>
                            </h3>
                        </div>
                        <div class="col-5 col-lg-4 text-center">
                            <div class="page-logo-container">
                                {% if (committee.name == "incubator") or committee.name.startswith("incubator-") %}
                                    <img src="https://www.apache.org/logos/res/incubator/default.png"
                                         alt=""
                                         class="page-logo"
                                         onerror="this.style.display='none';" />
                                {% else %}
                                    <img src="https://www.apache.org/logos/res/{{ committee.name }}/default.png"
                                         alt=""
                                         class="page-logo"
                                         onerror="this.style.display='none';" />
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 page-project-list-container">
                        {% set max_initial_projects = 2 %}
                        {% if committee.projects %}
                            {% for project in committee.projects|sort(attribute="name") %}
                                <div class="card mb-3 shadow-sm page-project-subcard {% if loop.index > max_initial_projects %}page-project-extra d-none{% endif %} {% if project.status.value.lower() != "active" %}page-project-inactive{% endif %}"
                                     data-project-url="{{ as_url(get.projects.view, name=project.name) }}">
                                    <div class="card-body p-3 d-flex flex-column h-100">
                                        <div class="d-flex justify-content-between align-items-start">
                                            <p class="mb-1 me-2 fs-6">
                                                <a href="{{ as_url(get.projects.view, name=project.name) }}"
                                                   class="text-decoration-none stretched-link">{{ project.display_name }}</a>
                                            </p>
                                            <div>
                                                {% if project.status.value.lower() != "active" %}
                                                    <span class="badge text-bg-secondary ms-1">{{ project.status.value.lower() }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="mb-1 page-project-subcard-categories">
                                            {% set categories = project.category.split(', ') if project.category else [] %}
                                            {% for category in categories %}
                                                {% if category != "retired" %}<span class="badge text-bg-primary me-1">{{ category }}</span>{% endif %}
                                            {% endfor %}
                                            {% set langs = project.programming_languages.split(', ') if project.programming_languages else [] %}
                                            {% for lang in langs[:1] %}<span class="badge text-bg-success me-1">{{ lang }}</span>{% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {% if committee.projects|length > max_initial_projects %}
                                <button type="button"
                                        class="btn btn-sm btn-outline-secondary mt-2 page-toggle-committee-projects"
                                        aria-expanded="false"
                                        data-text-show="Show {{ committee.projects|length - max_initial_projects }} more projects..."
                                        data-text-hide="Show less...">
                                    Show {{ committee.projects|length - max_initial_projects }} more projects...
                                </button>
                            {% endif %}
                {# Add an else clause here if we decide to show an alternative to an empty card #}
                        {% endif %}
                    </div>
                    {% if current_user and is_part and (not committee_is_standing(committee.name)) %}
                        <a href="{{ as_url(get.projects.add_project, committee_name=committee.name) }}"
                           title="Create a project for {{ committee.display_name }}"
                           class="text-decoration-none d-block mt-4 mb-3">
                            <div class="card h-100 shadow-sm atr-cursor-pointer page-project-subcard">
                                <div class="card-body d-flex align-items-center text-secondary p-3">
                                    <div>
                                        <i class="bi bi-plus-circle me-2"></i>Create project
                                        <br />
                                        <small class="text-muted">for {{ committee.display_name }}</small>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
{% endfor %}
</div>
{% endblock content %}

{% block javascripts %}
    {{ super() }}
    <script src="{{ static_url('js/committee-directory.js') }}"></script>
{% endblock javascripts %}
