{% extends "layouts/base.html" %}

{%- block title -%}Projects ~ ATR{%- endblock title -%}

{%- block description -%}Directory of current ASF projs and their releases.{%- endblock description -%}

{% block content %}
  <h1>Projects</h1>
  <p>Directory of current ASF projects and their releases:</p>

  <div class="mb-3">
    <input type="text"
           id="project-filter"
           class="form-control d-inline-block w-auto" />
    <button type="button" class="btn btn-primary" id="filter-button">Filter</button>
    <button type="button"
            class="btn btn-secondary ms-2"
            id="filter-participant-button"
            data-showing="all">Show my projects</button>
  </div>

  <div class="mb-3">
    <p>
      Total count: <span id="project-count">{{ projects|length }}</span>
    </p>
  </div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for project in projects %}
      {% set is_part = false %}
      {% if current_user and project.committee %}
        {% if current_user.uid in project.committee.committee_members or
        current_user.uid in project.committee.committers or
        current_user.uid in project.committee.release_managers %}
        {% set is_part = true %}
      {% endif %}
    {% endif %}
    <div class="col">
      <div class="card h-100 shadow-sm position-relative page-project-card {{ '' if project.status.value.lower() == 'active' else 'bg-body-secondary' }}"
           data-project-url="{{ as_url(get.projects.view, name=project.name) }}"
           data-is-participant="{{ 'true' if is_part else 'false' }}">
        <div class="card-body">
          <div class="row g-1">
            <div class="col-sm">
              <h3 class="card-title fs-4 mb-3"><a href="{{ as_url(get.projects.view, name=project.name) }}" class="text-decoration-none text-body stretched-link">{{ project.display_name }}</a></h3>
            </div>
            {% if project.status.value.lower() != 'active' %}
              <div class="col-sm-2">
                <span class="badge text-bg-secondary">{{ project.status.value.lower() }}</span>
              </div>
            {% endif %}
          </div>
          {% if project.category %}
            <div class="row g-1">
              {% set categories = project.category.split(', ') %}
              {% for category in categories if category != "retired" %}
                <div class="col-sm-auto">
                  <span class="badge text-bg-primary">{{ category }}</span>
                </div>
              {% endfor %}
            </div>
          {% endif %}
          {% if project.programming_languages %}
            <div class="row g-1">
              {% set langs = project.programming_languages.split(', ') %}
              {% for lang in langs %}
                <div class="col-sm-auto">
                  <span class="badge text-bg-success">{{ lang }}</span>
                </div>
              {% endfor %}
            </div>
          {% endif %}

            {# TODO: Could add "or is_viewing_as_admin_fn(current_user.uid)" #}
            {# But then the page is noisy for admins #}
          {% if project.created_by == current_user.uid %}<div class="mt-3 position-relative z-1">{{ delete_forms[project.name] }}</div>{% endif %}

        </div>
      </div>
    </div>
{% endfor %}
</div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
  <script src="{{ static_url('js/src/projects-directory.js') }}"></script>
{% endblock javascripts %}
