<aside class="sidebar">
  <div class="sidebar-header">
    <a href="{{ as_url(get.root.index) }}" class="site-title">
      <h1>
        <span class="apache">A<span class="rest">pache</span></span>
        <br />
        <span class="trusted">T<span class="rest">rusted</span></span>
        <br />
        <span class="release">R<span class="rest">eleases</span></span>
      </h1>
    </a>
  </div>
  <div class="user-section">
    {% if current_user %}
      <div>
        <span>{{ current_user.fullname }}</span>
        (<code>{{ current_user.uid }}</code>)
        <br />
        <a href="#"
           onclick="location.href='/auth?logout=/';"
           class="logout-link btn btn-sm btn-outline-secondary mt-2">Logout</a>
      </div>
    {% else %}

      <a href="#"
         onclick="location.href='/auth?login=' + window.location.pathname;"
         class="login-link btn btn-sm btn-secondary">Login</a>
    {% endif %}
  </div>
  <nav>
    {% if current_user %}
      <h3>Get started</h3>
      <ul>
        <li>
          <i class="bi bi-play-circle"></i>
          <a href="{{ as_url(get.root.index) }}">Make releases</a>
        </li>
        {% if current_user %}
          <li>
            <i class="bi bi-view-list"></i>
            <a href="{{ as_url(get.release.releases) }}">Browse catalog</a>
          </li>
        {% endif %}
        <li>
          <i class="bi bi-collection"></i>
          <a href="{{ as_url(get.committees.directory) }}">Search committees</a>
        </li>
        {% if current_user.uid == "sbp" %}
          <!--
        <li>
          <i class="bi bi-collection"></i>
          <a href="{{ as_url(get.projects.projects) }}">Browse projects</a>
        </li>
      -->
        {% endif %}
        <li>
          <i class="bi bi-download"></i>
          {# This path is handled by the frontend proxy server #}
          {# https://djlint.com/docs/ignoring-code/ #}
          {# djlint:off J018 #} <a href="/downloads/">Download artifacts</a> {# djlint:on #}
        </li>
      </ul>

      {% set unfinished_releases = unfinished_releases_fn(current_user.uid) %}
      {% if unfinished_releases %}
        {% for project_short_display_name, project_name, releases in unfinished_releases %}
          <h3>
            <a href="{{ as_url(get.projects.view, name=project_name) }}"
               class="text-decoration-none text-reset">{{ project_short_display_name }}</a>
          </h3>
          <ul>
            {% for release in releases %}
              <li>
                <i class="bi bi-tag"></i>
                <a href="{{ release_as_url(release) }}">{{ release.version }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endfor %}
      {% endif %}
    {% else %}
      <h3>Browse</h3>
      <ul>
        <li>
          <i class="bi bi-view-list"></i>
          <a href="{{ as_url(get.release.releases) }}">Releases</a>
        </li>
        <li>
          <i class="bi bi-collection"></i>
          <a href="{{ as_url(get.committees.directory) }}">Committees</a>
        </li>
      </ul>
      <h3>Help</h3>
      <ul>
        <li>
          <i class="bi bi-book"></i>
          <a href="{{ as_url(get.docs.index) }}">Documentation</a>
        </li>
        <li>
          <i class="bi bi-book"></i>
          <a href="{{ as_url(get.root.policies) }}">ASF Policies</a>
        </li>
      </ul>
    {% endif %}

    {% if current_user %}
      {% set user_projects = user_projects_fn(current_user.uid) %}
      {% if user_projects %}
        {% set max_projects = 8 %}
        <h3>Start a release</h3>
        <ul>
          {% for project_name, project_full_name in user_projects[:max_projects] %}
            <li>
              <i class="bi bi-plus-circle"></i>
              <a href="{{ as_url(get.start.selected, project_name=project_name) }}">{{ project_full_name.removeprefix("Apache ").removesuffix(" (Incubating)") }}</a>
            </li>
          {% endfor %}
          {% if user_projects|length > max_projects %}
            <li>
              <i class="bi bi-three-dots"></i>
              (<a href="{{ as_url(get.root.index) }}">{{ user_projects|length - max_projects }} more</a>)
            </li>
          {% endif %}
        </ul>
      {% endif %}
      <h3>Security</h3>
      <ul>
        <li>
          <i class="bi bi-key"></i>
          <a href="{{ as_url(get.keys.keys) }}">Public keys</a>
        </li>
        <li>
          <i class="bi bi-key"></i>
          <a href="{{ as_url(get.tokens.tokens) }}">API tokens</a>
        </li>
      </ul>

      <h3>Help</h3>
      <ul>
        <li>
          <i class="bi bi-book"></i>
          <a href="{{ as_url(get.root.tutorial) }}">Tutorial</a>
        </li>
        <li>
          <i class="bi bi-book"></i>
          <a href="{{ as_url(get.docs.index) }}">Documentation</a>
        </li>
        <li>
          <i class="bi bi-book"></i>
          <a href="{{ as_url(get.root.policies) }}">ASF Policies</a>
        </li>
        <li>
          <i class="bi bi-file-earmark-code"></i>
          {# djlint:off J018 #} <a href="/api/docs">OpenAPI</a> {# djlint:on #}
        </li>
      </ul>

      {% if is_viewing_as_admin_fn(current_user.uid) %}
        <h3>Administration</h3>
        <ul>
          <li>
            <i class="bi bi-list-ul"></i>
            <a href="{{ as_url(admin.all_releases) }}"
               {% if request.endpoint == 'atr_admin_all_releases' %}class="active"{% endif %}>All releases</a>
          </li>
          <li>
            <i class="bi bi-person-plus"></i>
            <a href="{{ as_url(admin.browse_as_get) }}"
               {% if request.endpoint == 'atr_admin_browse_as_get' %}class="active"{% endif %}>Browse as user</a>
          </li>
          <li>
            <i class="bi bi-arrow-repeat"></i>
            <a href="{{ as_url(admin.consistency) }}"
               {% if request.endpoint == 'atr_admin_consistency' %}class="active"{% endif %}>Consistency</a>
          </li>
          <li>
            <i class="bi bi-database"></i>
            <a href="{{ as_url(admin.data) }}"
               {% if request.endpoint == 'atr_admin_data' %}class="active"{% endif %}>Browse database</a>
          </li>
          <li>
            <i class="bi bi-trash"></i>
            <a href="{{ as_url(admin.delete_committee_keys_get) }}"
               {% if request.endpoint == 'atr_admin_delete_committee_keys_get' %}class="active"{% endif %}>Delete committee keys</a>
          </li>
          <li>
            <i class="bi bi-trash"></i>
            <a href="{{ as_url(admin.delete_release_get) }}"
               {% if request.endpoint == 'atr_admin_delete_release_get' %}class="active"{% endif %}>Delete release</a>
          </li>
          <li>
            <i class="bi bi-gear"></i>
            <a href="{{ as_url(admin.env) }}"
               {% if request.endpoint == 'atr_admin_env' %}class="active"{% endif %}>Environment</a>
          </li>
          <li>
            <i class="bi bi-key"></i>
            <a href="{{ as_url(admin.keys_check_get) }}"
               {% if request.endpoint == 'atr_admin_keys_check_get' %}class="active"{% endif %}>Keys check</a>
          </li>
          <li>
            <i class="bi bi-key"></i>
            <a href="{{ as_url(admin.keys_regenerate_all_get) }}"
               {% if request.endpoint == 'atr_admin_keys_regenerate_all_get' %}class="active"{% endif %}>Regenerate all keys</a>
          </li>
          <li>
            <i class="bi bi-key"></i>
            <a href="{{ as_url(admin.keys_update_get) }}"
               {% if request.endpoint == 'atr_admin_keys_update_get' %}class="active"{% endif %}>Update keys</a>
          </li>
          <li>
            <i class="bi bi-person-plus"></i>
            <a href="{{ as_url(admin.ldap_get) }}"
               {% if request.endpoint == 'atr_admin_ldap_get' %}class="active"{% endif %}>LDAP search</a>
          </li>
          <li>
            <i class="bi bi-speedometer2"></i>
            <a href="{{ as_url(admin.performance) }}"
               {% if request.endpoint == 'atr_admin_performance' %}class="active"{% endif %}>Page performance</a>
          </li>
          <li>
            <i class="bi bi-arrow-repeat"></i>
            <a href="{{ as_url(admin.projects_update_get) }}"
               {% if request.endpoint == 'atr_admin_projects_update_get' %}class="active"{% endif %}>Update projects</a>
          </li>
          <li>
            <i class="bi bi-list-task"></i>
            <a href="{{ as_url(admin.tasks_) }}"
               {% if request.endpoint == 'atr_admin_tasks_' %}class="active"{% endif %}>Background tasks</a>
          </li>
          <li>
            <i class="bi bi-person-badge"></i>
            <a href="{{ as_url(admin.toggle_view_get) }}"
               {% if request.endpoint == 'atr_admin_toggle_view_get' %}class="active"{% endif %}>Toggle admin view</a>
          </li>
          <li>
            <i class="bi bi-arrow-repeat"></i>
            <a href="{{ as_url(admin.validate_) }}"
               {% if request.endpoint == 'atr_admin_validate_' %}class="active"{% endif %}>Validate</a>
          </li>
        </ul>
      {% endif %}
    {% endif %}
  </nav>
</aside>
