@font-face {
    font-family: "Jost";
    src: url("../webfonts/jost-v.woff2") format("woff2");
    font-weight: 100 900;
}

@font-face {
    font-family: "Inter";
    src: url("../webfonts/inter-v.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("../webfonts/inter-vi.woff2") format("woff2");
    font-weight: 100 900;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-weight: 450;
}

body {
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 17px;
    line-height: 24px;
    font-variation-settings: "opsz" 22;
    font-weight: 425;
}

.bg-info-light {
    background-color: #28265e !important;
}

.dropdown-menu {
    width: 250px;
    max-height: 80vh;
    overflow: hidden auto; /* prevents sideways scrollbars */
    scrollbar-width: thin;       /* Firefox */
}

.dropdown-menu::-webkit-scrollbar {
    width: 8px;                  /* Chrome/Edge */
}

html {
    scroll-padding-top: 80px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index:1030
}

.user-menu {
    text-align: center;
}

.asf-logo {
    height: 42px;
    margin-left: 6px;
}

.trusted-releases {
    position: relative;
    top: -10px;
    margin-left: 10px;
    font-weight: 650 !important;
}

.navbar-adp-offset {
    position: relative;
    top: 3px;
    margin-left: 16px;
}

.navbar-ribbon {
    position: relative;
}

.navbar-ribbon::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8px;
    background: linear-gradient(
        90deg,
        #282661 0%,
        #662f8f 20%,
        #9e2165 40%,
        #cb2138 60%,
        #ea7826 80%,
        #f7ae18 100%
    );
}

footer {
    padding: 1rem;
    background: #eeeeee;
    font-size: 15px;
    margin: 2rem;
    color: #333333;
    font-variation-settings: "opsz" 14;
    border-radius: 0.5rem;
    border: 2px solid #d1d2d3;
    display: table;
    text-align: center;
}

h1 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.35;
}

h2 {
    border-bottom: 1px solid #d1d2d3;
    padding-bottom: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 1.3333rem;
    margin-top: .5rem;
    font-weight: 525 !important;
}

img {
    max-width: 100%;
    height: auto;
}

pre {
    white-space: pre-wrap;

    /* word-wrap: anywhere; */
    word-break: break-all;
    margin-bottom: 1rem;
    background-color: #f6f7f8;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #d1d2d3;
}

p code, li code { color: #aa0033; }

a:has(code) {
    text-decoration-color: #aa0033;
}

a code {
    color: #aa0033;
}

td code { color: #000000; }

summary {
    cursor: pointer;
}


textarea {
    width: 100%;
    min-height: 200px;
}

table {
    border-collapse: collapse;
}

ul, ol {
    padding-left: 1rem;
}

input, option, select, textarea {
    font-size: 17px !important;
    font-weight: 425 !important;
}

button, input, option, select, textarea {
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 17px;
    line-height: 24px;
    font-variation-settings: "opsz" 22;
    font-weight: 425;
}


nav.navbar {
    padding: 0.5rem 2rem;
}

nav.navbar button, nav.navbar a.navbar-brand {
    color: #ffffff !important;
}

nav.navbar button.navbar-toggler {
    background-color: #ffffff !important;
}

label[for] {
    font-weight: 450;

    /* border-bottom: 1px dashed #d1d2d3; */
    cursor: pointer;
}

input,
textarea {
    font-family: monospace;
    padding: 0.5rem;
}

select, input[type="file"] {
    padding: 6px 12px;
}

input:not([type="submit"]), textarea, select, option {
    border-width: 2px !important;
}

strong a {
    font-weight: 600;
}

h1, h2, h3 {
    font-weight: 475;
    font-family: "Jost", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
}

h3, p, ul, form {
    margin-bottom: 1rem;
}

table th {
    text-align: left;
}

table td {
    /* Not sure if we should keep it this way, but it seems pretty good */
    font-family: ui-monospace, "SFMono-Regular", "Menlo", "Monaco", "Consolas", monospace;
    word-break: break-all;
    font-size: 0.9em;
}

table tr {
    /* This doesn't always work; not clear why */
    border-bottom: 1px solid #c1c2c3;
}

table tr:last-child {
    border-bottom: none;
}

aside h1 {
    margin: 1rem 0 1.5rem;
    padding-left: 2rem;
    font-size: 2.5rem;
    line-height: 1;
    letter-spacing: 2px;
}

aside h1 span.rest {
    color: #666666;
}

aside h3 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

footer a {
    color: #333333;
    font-weight: 425;
}

footer a:visited {
    color: #333333;
    font-weight: 425;
}

footer p {
    margin-bottom: 0;
}

h1 strong {
    font-weight: 525;
}

h1 em {
    font-weight: 425;
    font-style: normal;

    /* font-variation-settings: "ital" 0.5; */
    color: #555555;
}

/* h1 em:before {
    content: "(";
}

h1 em:after {
    content: ")";
} */


form.atr-canary {
    background-color: #ffffee;
    border: 2px solid #ddddbb;
    padding: 1rem;
    border-radius: 0.5rem;
}

.site-title {
    text-decoration: none;
    color: inherit !important;
}

span.warning {
    color: #cc0000;
    font-weight: 550;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.ribbon {
    height: 8px;
    background: linear-gradient(90deg, #282661 0%, #662f8f 20%, #9e2165 40%, #cb2138 60%, #ea7826 80%, #f7ae18 100%);
}

.content {
    flex: 1;
    display: flex;
}

.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    padding: 1rem 3rem;
}

.nav-toggle {
    display: none;
}


@media (width <= 990px) {
    .dropdown-menu {
        max-height: 40vh;
    }
}

/* Flash Messages */
.flash-message {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
}

.flash-warning {
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    color: #856404;
}

.flash-error {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
}

.flash-success {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
}

.admin-content {
    box-shadow: inset 0 0 0 10px #dc3545;
}

.warning-banner {
    border: 2px solid #dc3545;
    background: #ffcccc;
    padding: 1rem;
    margin: 0 0 2rem;
    border-radius: 4px;
}

.card[data-project-url]:hover {
    border-color: gray;
}

.atr-back-link {
    display: inline-block;
    margin-bottom: 0;
    color: #0000cc;
    text-decoration: none;
}

.atr-back-link:hover {
    text-decoration: underline;
}

.atr-border-dashed {
    border-style: dashed !important;
}

.atr-border-dashed:hover {
    border-color: gray;
}

.atr-breadcrumbs {
    font-size: 1.2rem;
    font-weight: 475;
}

.atr-breadcrumbs span {
    color: #666666;
    font-weight: 300;
    padding: 0 0.5rem;
}

/* There is no equivalent in Bootstrap */
.atr-cursor-pointer {
    cursor: pointer;
}

.atr-phase-arrow {
    margin-left: 0.3333rem;
    margin-right: 0.3333rem;
    color: #bbbbbb;
}

.atr-phase-label {
    font-weight: 500 !important;
}

.atr-phase-symbol {
    font-weight: 650 !important;
}

.atr-phase-symbol-other {
    color: #aaaaaa;
    font-weight: 650 !important;
}

.atr-phase-themed .atr-phase-one {
    color: #2277bb;
}

.atr-phase-themed .atr-phase-two {
    color: #007700;
}

.atr-phase-themed .atr-phase-three {
    color: #cc0033;
}

.atr-green {
    color: #007700 !important;
}

.atr-red {
    color: #cc0033 !important;
}

.atr-hide {
    display: none;
}

.atr-initial {
    display: initial;
}

.atr-pre-wrap {
    white-space: pre-wrap;
}

.atr-steps {
    padding-left: 1.6rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6;
}

.atr-step-link {
    font-weight: 500;
}

.atr-nowrap {
    white-space: nowrap;
}

.atr-word-wrap {
    overflow-wrap: anywhere;
    word-break: break-all;
}
