name: Build and test

on:
  push:
    branches: [main, sbp]
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read

env:
  UV_VERSION: '0.8.8'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.13'
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ matrix.python-version }}
      - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          version: ${{ env.UV_VERSION }}

      # Cache packages per python version, and reuse until lockfile changes
      - name: Cache python packages
        id: cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: .venv
          key: venv-${{ matrix.python-version }}-${{ hashFiles('uv.lock') }}
      - name: Install dependencies
        #if: steps.cache.outputs.cache-hit != 'true'
        run: uv sync --no-dev --group test

      - name: Run unit tests
        run: |
          uv run --no-sync pytest -rs tests

      - name: Run Playwright end-to-end tests
        run: |
          sh tests/run-tests.sh
